@import 'http:////at.alicdn.com/t/font_1067403_4mm458jws73.css';
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
    height: 100%;
}
body {
    background: #f5f5f5
}